
<% if @error %>
<p><%=@error%></p>
<% end %>

<%= form_tag "/sessions", :class => 'form',  method: :post do  %>
    <div class="contain">
    <div class="logname">
    <%= label_tag "Username" %>
    </div>
    <%= text_field_tag :username, nil, class: "", required: true %>
  
    <div class="pass">
    <%= label_tag "Password" %>
    </div>
    <%= password_field_tag :password, nil, required: true %>
    

    <div class="btn">
    <%= submit_tag  "Log In"%> 
  </div>

  <div class="signup">
  <%= link_to '<button type="button">Sign Up</button>'.html_safe, new_user_path %>  

  </div>
   
    <% end %>
  

    
