<%= link_to "Profile", user_path(session[:user_id]), :class => 'prof' %>
<div class="company-title"><%= @stock.company_name %> (<%= @stock.ticker %>)</div>
<%= @stock.market_news %>

<div class="real-time-price">
$<%= @stock.live_price %>
</div>
<table class="table table-dark", id="stocktable">

  <tbody>
  <tr>
      <td>Open Price</td>
      <td>$<%=@stock.open_price%></td>
    </tr>
    <tr>
      <td>Dividend Date</td>
      <td><%=@stock.dividends_date%></td>
    </tr>
    <tr>
      <td>Dividend Amount</td>
      <td><%=@stock.dividends_given%></td>
    </tr>

    
    <tr>
      <td>52 Week High</td>
      <td>$<%= @stock.year_high%></td>
    </tr>
  </tbody>
</table>



<div class="news">
<h2>Latest News</h2>
<a href="<%= @stock.news_url%>"><%= @stock.latest_news %></a>
<div>
