<div id="new-stock-container" class="new-stock-container">
  <div id="new-stock-container" class="new-stock-container">
    <div class="big-title-container">
    <div class="new-stock-form-container">
      <h1 class="form-top-title">Edit Your Profile</h1>
    </div>
    <div class="medium-container">
<%= form_for @user, method: :PATCH, url: {action: "update"}, html: {class: "userform"} do |f| %>

    <div class="username">
    <%= f.label :username%><br>
  <%= f.text_field :username %>
  </div>

  <div class="firstname">
    <%= f.label :firstname%><br>
  <%= f.text_field :first_name %>
  </div>

  <div class="lastname">
    <%= f.label :lastname%><br>
  <%= f.text_field :last_name %>
  </div>

  <div class="email">
  <%=f.label :email%><br>
  <%= f.text_field :email %>
  </div>
  <div class="phonenumber">
  <%= f.label :phone_number%><br>
  <%= '+1' f.text_field :phone_number %>
  </div>



<div class="button">
  <%= f.submit "Update" %>
  </div>
<% end %>
</div>
</div>
</div>
