<header>
  <div id="header-container">
    <div id="user-title" class="title"><%= @user.username%></div>
    <div id="button-container-right">
      <div id="logout-button">
      <%= link_to "Log Out", logout_path, :class => 'loglink' %>
      </div>
      <div id="button-edit">
      <%=link_to "Account Settings", edit_user_path(@user.id), :class=> 'editlink' %>
      </div>
    </div>
  </div>
</header>

<table id="table" class="table">
      <tr class="header">
        <th scope="col">Symbol</th>
        <th scope="col">Company</th>
        <th scope="col">Stop Price</th>
        <th scope="col">Live Price</th>
        <th scope="col">Update</th>
        <th scope="col">Remove</th>
      </tr>
<% if @user.stocks %>
  <% @user.stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.ticker, user_stock_path(@user.id, stock) %></td>

        <td><%= stock.company_name %></td>


        <td>$<%= stock.stop %></td>

        <td>$<%= stock.live_price %></td>

        <td><%=link_to "Edit", edit_user_stock_path(@user.id, stock) %>
        </td>

        <td><%= link_to "Delete", user_stock_path(@user.id, stock), remote: true, method: :delete, :class => 'delete_stock' %></td>
        </tr>
    <% end %>

    <% end %>
    </table>
    <div id="bottom" class="bottom">
  <div id="container-left">
    <div id="stock-button" class="stock-button">
   <%= link_to "Add Stock", new_user_stock_path(@user.id), :class => 'stocklink'%>
   </div>
  </div>
  </div>
