
<div class="user-title">
<h2><%= @user.username%></h2>

</div>
<%= link_to "New Stock", new_user_stock_path(@user.id)%>
<% if @user.stocks %>
  <% @user.stocks.each do |stock| %>
   <p><%= stock.ticker %>  
      <%= stock.stop %>
      <%= stock.live_price %>



<%=link_to "Edit", edit_user_stock_path(@user.id, stock) %>

</p>
    <% end %>

    <% end %>




    
